<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/subs.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="wrapper-top">
        <h2 class="title_main">
          Showing <%= resInfo.resultsPerPage %> results for <%= query %> out of
          <%= resInfo.totalResults %>
        </h2>
      </div>
      <div class="table-responsive-sm">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Avatar</th>
              <th scope="col">Channel Description</th>
              <th scope="col">Subscribe</th>
            </tr>
          </thead>
          <tbody>
            <% for(let res of results) { %>
            <tr>
              <td>
                <img
                  class="avatar"
                  src="<%= res.snippet.thumbnails.medium.url %>"
                  alt="avatar"
                />
              </td>
              <td>
                <div class="info">
                  <h3><%= res.snippet.title %></h3>
                  <p class="info-description"><%= res.snippet.description %></p>
                </div>
              </td>
              <td style="vertical-align: middle">
                <form id="subscribe-form">
                  <!-- fix post req -->
                  <button class="btn btn-success">Subscribe</button>
                </form>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>

      <!-- <form action="/channel/subscribe" method="POST">
          <label for="channelid">Find channel</label>
          <input
            type="text"
            name="channelId"
            placeholder="Enter channel handle or id"
            id="channelid"
          />
          <button type="submit" class="btn btn-success">Search</button>
        </form> -->
    </div>
  </body>
</html>
